page-logistics {
  .item-md {
    img {
      width: 9.6rem;
      height: 8rem;
    }

    ion-thumbnail {
      max-width: 10.6rem;
      max-height: 9rem;
    }

    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}
