page-logistics {
  .item-md {
    img {
      width: 10.6rem;
      height: 9rem;
    }

    ion-thumbnail[item-left] {
      max-width: 10.6rem;
      max-height: 9rem;
      margin: 16px 16px 0 0;
    }

    h2 {
      color: color($colors, black);
      max-height: 4rem;
      white-space: normal;
      overflow: hidden;
    }

    p {
      font-size: 1.28rem;
      color: colors($colors, dark);
    }
  }
}
