page-logistics {
  .item-md {
    img {
      width: 10.6rem;
      height: 9rem;
    }

    ion-thumbnail[item-left] {
      max-width: 10.6rem;
      max-height: 9rem;
      margin: 16px 16px 0 0;
    }

    .label-md {
      margin-right: 0;
    }
    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
}
