page-home {
  height: 100%;
  // rest
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }

  .sliderTab {
    display: flex;
    align-items: center;
    height: $button-md-height;
    overflow-x: auto;
    .active {
      border-bottom: solid .4rem;
    }

  }

}
