page-club {
  .card-background-page {
    .item-md.item-block .item-inner {
      border: none;
      button {
        font-size: 1.4rem;
      }
    }
    .label-md {
      margin: 0 0.8rem 0 0;
    }

    ion-card {
      position: relative;
    }

    .card-title {
      position: absolute;
      bottom: 32%;
      left: 5%;
      width: 65%;
      font-size: 2rem;
      font-weight: bold;
      white-space: normal;
      color: #fff;
    }
    .action {
      position: absolute;
      bottom: 10%;
      left: 5%;
    }
  }

}
