// App Global Sass
// --------------------------------------------------
.menu-content {
  .focus {
    margin-top: 10px;
  }
  .focus, .tags {
    border-bottom: solid 1px $list-md-border-color;
  }
  .focus, .tags, .other {
    ion-icon:first-child {
      max-width: 24px;
    }
  }
}

// feat android status bar
.platform-android {
  .ion-page {
    ion-header {
      padding-top: $cordova-md-statusbar-padding;
      background-color: color($colors, primary);
    }
  }
}

// tags
.classify {
  margin: 1rem 0;
  padding-left: 1rem;
  white-space: nowrap;
  overflow-x: auto;
}

.column {
  margin: 2rem 0 0.8rem 0;
  .item-md.item-block .item-inner {
    border: none;
    button {
      font-size: 1.4rem;
    }
  }
  .label-md {
    margin: 0;
    h2 {
      font-size: 2.4rem;
      color: color($colors, black);
      font-weight: 500;
    }
  }
}

// hot list
.hot {
  .item-md.item-block .item-inner {
    padding-right: 0;
  }
  .item-md {
    padding: 0 1.6rem;
    h2 {
      margin-bottom: 1.6rem;
      color: color($colors, black);
      white-space: normal;
      overflow: hidden;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}
