// App Global Sass
// --------------------------------------------------
.menu-content {
  .focus, .tags {
    border-bottom: solid 1px $list-md-border-color;
  }
  .focus, .tags, .other {
    ion-icon:first-child {
      max-width: 24px;
    }
  }
}
