<ion-menu [content]="content">
  <ion-header>
    <ion-avatar item-left>
      <img src="assets/imgs/menu-header.jpg">
    </ion-avatar>
  </ion-header>

  <ion-content class="menu-content">
    <ion-list class="focus" no-lines>
      <button menuClose ion-item *ngFor="let p of focusPages" (click)="openPage(p)">
        <ion-icon md="{{p.icon}}" item-left></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>

    <ion-list class="tags" no-lines>
      <button menuClose ion-item *ngFor="let p of tagPages" (click)="openPage(p)">
        <ion-icon md="{{p.icon}}" item-left></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>

    <ion-list class="other" no-lines>
      <button menuClose ion-item *ngFor="let p of otherPages" (click)="openPage(p)">
        <ion-icon md="{{p.icon}}" item-left></ion-icon>
        {{ p.title }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
