page-setting {
  .account.item-block .item-inner,
  .item-divider-md {
    border: none;
  }
  .item-md:not(ion-item-divider):not(p) {
    font-size: 1.6rem;
    color: color($colors, black);
    line-height: 1.8;
    font-weight: 500;
  }

}
