page-focus {

  .classify {
    margin: 1rem 0;
    padding-left: 1rem;
    white-space: nowrap;
    overflow-x: auto;
  }

  .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding: 0 1.6rem;
    color: color($colors, black);

    h2 {
      margin: 0;
    }

    .left span {
      color: color($colors, dark);
    }
  }

  .play-news {
    position: relative;
    height: 23rem;
    background: color($colors, primary) url(../assets/imgs/bg1.png) no-repeat;
    background-size: cover;
  }

  .player {
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    right: 2rem;
    width: 37%;
    padding: 2rem 1rem 1rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .2);
    border-radius: .2rem;
  }

  .item-md {
    padding: 0 1.6rem;

    h2 {
      color: color($colors, black);
      max-height: 4rem;
      margin: 2px 0 16px 0;
      white-space: normal;
      overflow: hidden;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

}
