page-focus {

  .card-md {
    margin: 10px 0;
    width: 100%;

    .card-title-md {
      font-size: 1.6rem;
    }

    img {
      max-height: 16rem;
    }

    p {
      font-size: 1.12rem;
      color: #424242;
    }

  }
}
