page-job {
  .card-md {

    .card-title-md {
      color: color($colors, black);
      font-size: 1.6rem;
      font-weight: bold;
    }

    p {
      font-size: 1.28rem;
      color: color($colors, dark);;
    }

    span:nth-child(1) {
      margin-right: 8px;
      color: color($colors, primary);
    }

  }
}
