page-notice {
  .cover {
    font-size: 0;
  }

  .segment-bar {
    position: relative;
    margin-bottom: 1.6rem;
    background-color: color($colors, primary);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1),
                0 -0.6rem 0.6rem rgba(0, 0, 0, 0.1);
    .segment-button {
      height: 5.2rem;
      line-height: 5rem;
      font-size: 1.6rem;
    }
  }

}
