page-notice {
  .scroll-content {
    margin-top: 0 !important;
  }

  ion-header, .toolbar-background {
    background-color: initial !important;
    transition: background-color 1s ease;
    &:after {
      height: 0  !important;
    }
  }

  .opaque {
    background-color: color($colors, primary) !important;
    &:after {
      height: 5px !important;
    }
    .toolbar-background {
      background-color: color($colors, primary);
    }
  }

}
