page-notice {

  .item-md [item-right] {
    margin: 0;
  }

  .item-md {

    h2 {
      color: color($colors, black);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    p {
      font-size: 1.28rem;
      color: color($colors, dark);
    }
  }
}
